<div class="row">
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <jhi-muro></jhi-muro>
            </div>
            <div *ngSwitchCase="false">
                <h1 class="display-4">Welcome to UMBook</h1>
                <span>Please </span>
                <a class="alert-link" (click)="login()">sign in</a>
                <span>, or if you don't have an account yet </span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>

