<div>
    <div class="row">
        <h3>Amigos</h3>
        <div class="table-responsive" *ngIf="amigos && amigos.length > 0">
            <table class="table table-striped">
                <tbody>
                <tr *ngFor="let amigo of amigos">
                    <td>{{amigo.usuario.login}}</td>
                    <td class="text-right">
                        <a class="btn btn-dark" [routerLink]="['/muro', amigo.usuario.id, amigo.usuario.login]" role="button">Ver muro</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Usuarios</h3>
        <div class="table-responsive" *ngIf="users && users.length > 0">
            <table class="table table-striped">
                <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.login}}</td>
                    <td class="text-right">
                        <button [disabled]="isSaving" (click)="addFriend(user)" class="btn btn-dark" type="button">Agregar a amigos</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>