<div class="row" *ngIf="muro">
    <div class="col-md-2">
        <div><img class="img-thumbnail" src="../../../content/images/Profile_placeholder.png"></div>
        <h4 *ngIf="!muroAccount" class="text-center">{{currentAccount.login}}</h4>
        <h4 *ngIf="muroAccount" class="text-center">{{muroAccount.login}}</h4>
        <hr />
        <a *ngIf="!muroAccount" class="btn btn-dark" routerLink="amigo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" role="button">Ver amigos</a>
    </div>
    <div class="col-md-10">
        <jhi-mensaje [muro]="muro" [usuario]="getUsuario()"></jhi-mensaje>
    </div>
</div>