<div>
    <div *ngFor="let mensaje of mensajesMuro">
        <div class="card">
            <div class="card-header">
                {{mensaje.muro.usuario.login}}
            </div>
            <div class="card-body">
                <p class="card-text">{{mensaje.texto}}</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="input-group">
        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="currentTxt"></textarea>
        <div class="input-group-prepend">
            <button type="button" class="btn btn-dark" (click)="newMsj()" [disabled]="isSaving || !canSendMsj()">Enviar</button>
        </div>
    </div>
</div>
